

.foto {

    height: 100vh;
    background-image: url("../img/pexels-cottonbro-studio-6626999.jpg");
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content:center;

    
}

.foto #primeiro {
    font-family: 'Montserrat', sans-serif;
    color:white;
    text-decoration-line: none;
    font-style:italic;  
    margin-top:500px;
    font-size:55px;
}

.foto h1 #segundo {
    font-family: 'Montserrat', sans-serif;
    color:white;
    text-decoration-line:none;
    text-align:center;

}

.foto h1 span {
    color:rgb(130, 115, 115);
    background-color:rgba(255,255,255,0.7);
    border-radius: 20px;
    padding: 5px;

    
}

.container-fluid {
    padding: 0px 250px !important;
    
}

.flex {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.flex ul li a {

    font-size:20px;
    font-family:'Montserrat', sans-serif;
 

}

header {

    width: 100%;
    padding: 60px 4%;
    transition: .6s;
    /* Quando queremos que alguma imagem fique por de trás do header com as ' ul li a '  
    Início  */
    position:fixed; /* header fixo */
    top:0%;
    left:0%;
    /* fim */
    z-index: 999; /* o navbar sobrepor tudo */

}

#header ul {
    list-style-type: none;
    margin-left:400px;
   
}

#header ul li {
    display: inline-block;
    margin: 0 10px; /* na esquerda e na direita, eles iram ter 40px de distanciamento */
    padding: 0px 10px;
}



/* --------------------------------------------------------- MAIN.PHP, MAIN.PHP ---------------------------------------------------------- */

.container-fluid-2 {
    /* mexer no tamanho da tela, quanto ao scroll */
    height: 50rem; 
    margin: 0 auto;
    background-color:white;
}

.main h1 {
    margin-top: 140px;
    /*70px;*/
    text-align: center;
    color:  #555658;
    font-size: 50px;
}


.main p {

    text-align: center;
    font-size: 20px;
    font-family:'Montserrat', sans-serif;
    color:#555658;
    font-style: italic;
}

.cards {

    margin-top:100px;
    margin-left:190px;
    display: flex;

}

.text_1{

    display: flex;
    /*position: absolute;*/
    margin-top:20px;
   /* left:18.5rem;*/
    font-size:20px;
    padding: 0px 40px 0px 40px;
    text-align: justify;
}
.img-1 img {
    margin: 0 auto;
}

.text_2{
    
    display: flex;
    position: absolute;
    margin-top:20px;
    left: 49.2rem;
    font-size:20px;

}
.text_3{

    display: flex;
    position: absolute;
    margin-top:20px;
    left: 89rem;
    font-size:20px;

}

.descer {
margin-top: 100px;
}



/* ----------------------------- service.php --------------------------- */


.foto-2 {

    height: 100vh;
    background-image: url("../img/pexels-ayomide-onasanya-19247060.jpg");
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content:center;

    
}

.foto-2 #primeiro-2 {
    font-family: 'Montserrat', sans-serif;
    color:white;
    text-decoration-line: none;
    font-style:italic;  
    margin-top:500px;
    font-size:55px;
}

.foto-2 h1 #segundo-2 {
    font-family: 'Montserrat', sans-serif;
    color:#fbfaf8;
    text-decoration-line:none;
    text-align:center;
    font-size: 60px;
    font-weight: 20px;
   

}

.foto-2 h1 span {
    /*color:rgb(130, 115, 115);*/
    color:rgb(238, 238, 238);
    background-color:rgba(255,255,255,0.7);
    border-radius: 10px;
    padding: 5px;

    
}

header {

    width: 100%;
    padding: 20px 4%;
    transition: .6s;
    /* Quando queremos que alguma imagem fique por de trás do header com as ' ul li a '  
    Início  */
    position:fixed; /* header fixo */
    top:0%;
    left:0%;
    /* fim */
    z-index: 999; /* o navbar sobrepor tudo */
    /* background-color: #7d8082; /* Tirando o background, volta normalmente a transparência que o '#header.rolagem' executa junto ao 'z-index: 999;' */
  

}

#header ul {
    list-style-type: none;
    margin-left:400px;
   
}

#header ul li {
    display: inline-block;
    margin: 0 10px; /* na esquerda e na direita, eles iram ter 40px de distanciamento */
    padding: 0px 10px;
}



/* --------------------------------------------------------- MAIN2.PHP, MAIN2.PHP ---------------------------------------------------------- */

/* ---------------------------------------------- Hover e overlay na imagem -------------------------------------------- */

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff; 
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
  }
  
  .overlay p {
    font-size: 1.5rem;
    text-align: center;
    z-index: 999;
  }
  
  .image-container:hover .overlay {
    opacity: 1;
  }

.container-fluid {
    padding: 0px 250px !important;
    
}

.flex {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.flex ul li a {

    font-size:20px;
    font-family:'Montserrat', sans-serif;
 

}



.container-fluid-2-2 {
    /* mexer no tamanho da tela, quanto ao scroll */
    /* tela completa */
    height: 85rem;
    margin: 0 auto;
    background-color: #d8d4d2dd;  
    background-color: #e0dad6d5; 
}

.service h1 {
    margin-top:200px;
    /*70px;*/
    text-align: center;
    color: #000000b5;
    /* color:  #ab8b75; */
    font-size: 50px;
}


.service p {

    text-align: center;
    font-size: 20px;
    font-family:'Montserrat', sans-serif;
    color:#b09d8f;
    font-style: italic;
}

/* Todas as imagens das estampas no service */

#img-x {
    width: 20rem;
    height: 18rem ;
}


#cards {

    margin-top:100px;
    margin-left:250px;
    height: 25rem ;
    display: flex;

}

#cards-2 {

    margin-top:20px;
    margin-left:250px;
    display: flex;

}

#cards b {
    font-family: sans-serif;
    font-style: italic;
    color: rgb(80, 78, 78);
    font-size: 20px;
}

#cards-2 b {
    font-family: sans-serif;
    font-style: italic;
    color: rgb(80, 78, 78);
    font-size: 20px;
}

#cards p {

    text-align: center;
    font-size: 20px;
    font-family:'Montserrat', sans-serif;
    color:#ced4d7;
    font-style: italic;
}

#cards-2 p {

    text-align: center;
    font-size: 20px;
    font-family:'Montserrat', sans-serif;
    color:#ced4d7;
    font-style: italic;

}


/* Templates que estão as fotos das estampas */

#card-1 {

    text-align:center;
    border: none;
    margin-left: 100px;
    box-shadow: 5px 5px 5px #eceaea;
}


#card-2 {
    text-align:center;
    border: none;
    margin-left: 100px;
    box-shadow: 5px 5px 5px #eceaea;
}


#card-3 {
    text-align:center;
    border: none;
    margin-left: 100px;
    box-shadow: 5px 5px 5px #eceaea;
}


#card-4 {
    text-align:center;
    border: none;
    margin-left: 100px;
    box-shadow: 5px 5px 5px #eceaea;
}


#card-5 {
    text-align:center;
    border: none;
    margin-left: 100px;
    box-shadow: 5px 5px 5px #eceaea;
}


#card-6 {
    text-align:center;
    border: none;
    margin-left: 100px;
    box-shadow: 5px 5px 5px #eceaea;
}


/* ------------------------ Descrição nas blusas ( dentro do modal ) --------------------------- */

.descricao {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;

    margin-top: 20px;
    text-align: center !important;

}

.descricao-2 {

    text-align: center;
    font-size: 10px;
    font-family:'Montserrat', sans-serif;
    color:#000000;
    font-style: italic;

}

.precos{

    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    font-family:'Montserrat', sans-serif;
    color:#736d6d;
    font-style: italic;
}

#botao {
    text-align: center;
    padding: 10px 80px;
    margin-top: 20px;
}

.debaixo {
    margin-top: 200px;
}



/* -------------------------------- about.php --------------------------- */


.foto-3 {

    height: 100vh;
    background-image: url("../img/about/family.jpg");
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content:center;

    
}


.container-fluid-3 {
    padding: 0px 250px !important;
    
}

.flex {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.flex ul li a {

    font-size:20px;
    font-family:'Montserrat', sans-serif;
 

}

header {

    width: 100%;
    padding: 20px 4%;
    transition: .6s;
    /* Quando queremos que alguma imagem fique por de trás do header com as ' ul li a '  
    Início  */
    position:fixed; /* header fixo */
    top:0%;
    left:0%;
    /* fim */
    z-index: 999; /* o navbar sobrepor tudo */
    /* background-color: #7d8082; /* Tirando o background, volta normalmente a transparência que o '#header.rolagem' executa junto ao 'z-index: 999;' */
    /*background-color:   #4c3335;*/
    /*background-color: #4c3335ad;*/
  

}

#header ul {
    list-style-type: none;
    margin-left:400px;
   
}

#header ul li {
    display: inline-block;
    margin: 0 10px; /* na esquerda e na direita, eles iram ter 40px de distanciamento */
    padding: 0px 10px;
}


/*-------------------------------------- ABOUT.PHP --------------------------------------*/

.about {

    margin-top: 100px;
    
}

.vem {
    margin-top:150px; /* Espaço entre a linha do tempo e o footer */
}


/*---------------------------- Linha do tempo -----------------------------*/

.main-timeline {
    position: relative;
   
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 5rem;
    margin: 0 auto 1rem auto;
    overflow: hidden;
}

.main-timeline:before {
    /* Barra que fica entre as histórias da linha do tempo */
    content: "";
    display: block;
    width: 2px;
    height: 100%;
    background: #c6c6c6;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0
}

.main-timeline .timeline {
    margin-bottom: 40px;
    position: relative
}

.main-timeline .timeline:after {
    content: "";
    display: block;
    clear: both
}

.main-timeline .icon {
    width: 18px;
    height: 18px;
    line-height: 18px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}

.main-timeline .icon:before,
.main-timeline .icon:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.33s ease-out 0s
}

.main-timeline .icon:before {

    /* As bolinhas brancas no meio da linha do tempo */
    background: #fff; 
    border: 2px solid #232323;
    left: -3px
}

.main-timeline .icon:after {
    border: 2px solid #c6c6c6;
    left: 3px
}

.main-timeline .timeline:hover .icon:before {
    left: 3px
}

.main-timeline .timeline:hover .icon:after {
    left: -3px
}

.main-timeline .date-content {
    width: 50%;
    float: left;
    margin-top: 22px;
    position: relative
}

.main-timeline .date-content:before {
    content: "";
    width: 36.5%;
    height: 2px;
    background: #c6c6c6;
    margin: auto 0;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0
}

.main-timeline .date-outer {
    width: 125px;
    height: 125px;
    font-size: 16px;
    text-align: center;
    margin: auto;
    z-index: 1
}

/* --------------------- img de fundo das bolinhas padrão ----------------------*/

.main-timeline .date-outer:before,
.main-timeline .date-outer:after {
    content: "";
    width: 125px;
    height: 125px;
    margin: 0 auto;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.33s ease-out 0s;

}

.main-timeline .date-outer:before {
    background: #fff;
    border: 2px solid #232323;
    left: -6px
}

.main-timeline .date-outer:after {
    border: 2px solid #c6c6c6;
    left: 6px
}

.main-timeline .timeline:hover .date-outer:before {
    left: 6px
}

.main-timeline .timeline:hover .date-outer:after {
    left: -6px
}

/* --------------------- fim padrão ----------------------*/


/* --------------------- img de fundo #primeiroo ----------------------*/

.main-timeline #primeiroo:before,
.main-timeline #primeiroo:after {

    content: "";
    width: 125px;
    height: 125px;
    margin: 0 auto;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.33s ease-out 0s;
    background-image: url("../img/about/1.png");

}


.main-timeline #primeiroo:before {
    background: #fff;
    border: 2px solid #232323;
    left: -6px
}

.main-timeline #primeiroo:after {
    border: 2px solid #c6c6c6;
    left: 6px
}

.main-timeline .timeline:hover #primeiroo:before {
    left: 6px
}

.main-timeline .timeline:hover #primeiroo:after {
    left: -6px
}


/* --------------------------- fim #primeiroo ------------------------ */



/* --------------------- img de fundo #segundoo ----------------------*/

.main-timeline #segundoo:before,
.main-timeline #segundoo:after {

    content: "";
    width: 125px;
    height: 125px;
    margin: 0 auto;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.33s ease-out 0s;
    background-image: url("../img/about/2.png");

}


.main-timeline #segundoo:before {
    background: #fff;
    border: 2px solid #232323;
    left: -6px
}

.main-timeline #segundoo:after {
    border: 2px solid #c6c6c6;
    left: 6px
}

.main-timeline .timeline:hover #segundoo:before {
    left: 6px
}

.main-timeline .timeline:hover #segundoo:after {
    left: -6px
}


/* --------------------------- fim #segundoo ------------------------ */


/* --------------------- img de fundo #terceiroo ----------------------*/

.main-timeline #terceiroo:before,
.main-timeline #terceiroo:after {

    content: "";
    width: 125px;
    height: 125px;
    margin: 0 auto;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.33s ease-out 0s;
    background-image: url("../img/about/3.png");

}


.main-timeline #terceiroo:before {
    background: #fff;
    border: 2px solid #232323;
    left: -6px
}

.main-timeline #terceiroo:after {
    border: 2px solid #c6c6c6;
    left: 6px
}

.main-timeline .timeline:hover #terceiroo:before {
    left: 6px
}

.main-timeline .timeline:hover #terceiroo:after {
    left: -6px
}

/* --------------------------- fim #terceiroo ------------------------ */


/* --------------------- img de fundo #quartoo ----------------------*/

.main-timeline #quartoo:before,
.main-timeline #quartoo:after {

    content: "";
    width: 125px;
    height: 125px;
    margin: 0 auto;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.33s ease-out 0s;
    background-image: url("../img/about/4.png");

}


.main-timeline #quartoo:before {
    background: #fff;
    border: 2px solid #232323;
    left: -6px
}

.main-timeline #quartoo:after {
    border: 2px solid #c6c6c6;
    left: 6px
}

.main-timeline .timeline:hover #quartoo:before {
    left: 6px
}

.main-timeline .timeline:hover #quartoo:after {
    left: -6px
}

/* --------------------------- fim #quartoo ------------------------ */


/* --------------------- img de fundo #quintoo ----------------------*/

.main-timeline #quintoo:before,
.main-timeline #quintoo:after {

    content: "";
    width: 125px;
    height: 125px;
    margin: 0 auto;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.33s ease-out 0s;
    background-image: url("../img/about/5.png");

}


.main-timeline #quintoo:before {
    background: #fff;
    border: 2px solid #232323;
    left: -6px
}

.main-timeline #quintoo:after {
    border: 2px solid #c6c6c6;
    left: 6px
}

.main-timeline .timeline:hover #quintoo:before {
    left: 6px
}

.main-timeline .timeline:hover #quintoo:after {
    left: -6px
}

/* --------------------------- fim #quintoo ------------------------ */


/* --------------------- img de fundo #sextoo ----------------------*/

.main-timeline #sextoo:before,
.main-timeline #sextoo:after {

    content: "";
    width: 125px;
    height: 125px;
    margin: 0 auto;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.33s ease-out 0s;
    background-image: url("../img/about/6.png");

}


.main-timeline #sextoo:before {
    background: #fff;
    border: 2px solid #232323;
    left: -6px
}

.main-timeline #sextoo:after {
    border: 2px solid #c6c6c6;
    left: 6px
}

.main-timeline .timeline:hover #sextoo:before {
    left: 6px
}

.main-timeline .timeline:hover #sextoo:after {
    left: -6px
}

/* --------------------------- fim #sextoo ------------------------ */


/* --------------------- img de fundo #setimoo ----------------------*/

.main-timeline #setimoo:before,
.main-timeline #setimoo:after {

    content: "";
    width: 125px;
    height: 125px;
    margin: 0 auto;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.33s ease-out 0s;
    background-image: url("../img/about/8.png");

}


.main-timeline #setimoo:before {
    background: #fff;
    border: 2px solid #232323;
    left: -6px
}

.main-timeline #setimoo:after {
    border: 2px solid #c6c6c6;
    left: 6px
}

.main-timeline .timeline:hover #setimoo:before {
    left: 6px
}

.main-timeline .timeline:hover #setimoo:after {
    left: -6px
}

/* --------------------------- fim #setimoo------------------------ */



.main-timeline .date {
    width: 100%;
    margin: auto;
    position: absolute;
    top: 27%;
    left: 0
}

.main-timeline .month {
    font-size: 18px;
    font-weight: 700
}

.main-timeline .year {
    display: block;
    font-size: 30px;
    font-weight: 700;
    color: #232323;
    line-height: 36px
}

.main-timeline .timeline-content {
    width: 50%;
    padding: 20px 0 20px 50px;
    float: right
}

.main-timeline .title {
    font-size: 19px;
    font-weight: 700;
    line-height: 24px;
    margin: 0 0 15px 0
}

.main-timeline .description {
    margin-bottom: 0;
    color: white;
}

.main-timeline .timeline:nth-child(2n) .date-content {
    float: right
}

.main-timeline .timeline:nth-child(2n) .date-content:before {
    left: 10px
}

.main-timeline .timeline:nth-child(2n) .timeline-content {
    padding: 20px 50px 20px 0;
    text-align: right
}

@media only screen and (max-width: 991px) {
    .main-timeline .date-content {
        margin-top: 35px
    }
    .main-timeline .date-content:before {
        width: 22.5%
    }
    .main-timeline .timeline-content {
        padding: 10px 0 10px 30px
    }
    .main-timeline .title {
        font-size: 17px
    }
    .main-timeline .timeline:nth-child(2n) .timeline-content {
        padding: 10px 30px 10px 0
    }
}

@media only screen and (max-width: 767px) {
    .main-timeline:before {
        margin: 0;
        left: 7px
    }
    .main-timeline .timeline {
        margin-bottom: 20px
    }
    .main-timeline .timeline:last-child {
        margin-bottom: 0
    }
    .main-timeline .icon {
        margin: auto 0
    }
    .main-timeline .date-content {
        width: 95%;
        float: right;
        margin-top: 0
    }
    .main-timeline .date-content:before {
        display: none
    }
    .main-timeline .date-outer {
        width: 110px;
        height: 110px
    }
    .main-timeline .date-outer:before,
    .main-timeline .date-outer:after {
        width: 110px;
        height: 110px
    }
    .main-timeline .date {
        top: 30%
    }
    .main-timeline .year {
        font-size: 24px
    }
    .main-timeline .timeline-content,
    .main-timeline .timeline:nth-child(2n) .timeline-content {
        width: 95%;
        text-align: center;
        padding: 10px 0
    }
    .main-timeline .title {
        margin-bottom: 10px
    }
}


/* --------------------------------- contact.php ---------------------------- */



.contact {

    margin-top: 100px;
    /* Margin entre, a foto e o formulário de contato */
    
}

.container-fluid-4 {
    padding: 0px 250px !important;
    
}

.foto-4 {

    height: 90vh;
    background-image: url("../img/about/Raízes-5.png");
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content:center;

    
}

/* ------------------------------- formulário de envio ( contact.php ) --------------------- */


*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@media (max-width: 575.98px) {
  .table-responsive-sm {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
@media (max-width: 767.98px) {
  .table-responsive-md {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
@media (max-width: 991.98px) {
  .table-responsive-lg {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
@media (max-width: 1199.98px) {
  .table-responsive-xl {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
@media (max-width: 1399.98px) {
  .table-responsive-xxl {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
.form-label {
  margin-bottom: 0.5rem;
}

.col-form-label {
  padding-top: calc(0.375rem + 1px);
  padding-bottom: calc(0.375rem + 1px);
  margin-bottom: 0;
  font-size: inherit;
  line-height: 1.5;
}

.col-form-label-lg {
  padding-top: calc(0.5rem + 1px);
  padding-bottom: calc(0.5rem + 1px);
  font-size: 1.25rem;
}

.col-form-label-sm {
  padding-top: calc(0.25rem + 1px);
  padding-bottom: calc(0.25rem + 1px);
  font-size: 0.875rem;
}

.form-text {
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #6c757d;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .form-control {
    transition: none;
  }
}
.form-control[type=file] {
  overflow: hidden;
}
.form-control[type=file]:not(:disabled):not([readonly]) {
  cursor: pointer;
}
.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #ffe480;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(255, 200, 0, 0.25);
}
.form-control::-webkit-date-and-time-value {
  height: 1.5em;
}
.form-control::-moz-placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control:disabled {
  background-color: #e9ecef;
  opacity: 1;
}
.form-control::file-selector-button {
  padding: 0.375rem 0.75rem;
  margin: -0.375rem -0.75rem;
  -webkit-margin-end: 0.75rem;
          margin-inline-end: 0.75rem;
  color: #212529;
  background-color: #e9ecef;
  pointer-events: none;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-inline-end-width: 1px;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .form-control::file-selector-button {
    transition: none;
  }
}
.form-control:hover:not(:disabled):not([readonly])::file-selector-button {
  background-color: #dde0e3;
}

.form-control-plaintext {
  display: block;
  width: 100%;
  padding: 0.375rem 0;
  margin-bottom: 0;
  line-height: 1.5;
  color: #212529;
  background-color: transparent;
  border: solid transparent;
  border-width: 1px 0;
}
.form-control-plaintext:focus {
  outline: 0;
}
.form-control-plaintext.form-control-sm, .form-control-plaintext.form-control-lg {
  padding-right: 0;
  padding-left: 0;
}

.form-control-sm {
  min-height: calc(1.5em + 0.5rem + 2px);
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.25rem;
}
.form-control-sm::file-selector-button {
  padding: 0.25rem 0.5rem;
  margin: -0.25rem -0.5rem;
  -webkit-margin-end: 0.5rem;
          margin-inline-end: 0.5rem;
}

.form-control-lg {
  min-height: calc(1.5em + 1rem + 2px);
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 0.5rem;
}
.form-control-lg::file-selector-button {
  padding: 0.5rem 1rem;
  margin: -0.5rem -1rem;
  -webkit-margin-end: 1rem;
          margin-inline-end: 1rem;
}

textarea.form-control {
  min-height: calc(1.5em + 0.75rem + 2px);
}
textarea.form-control-sm {
  min-height: calc(1.5em + 0.5rem + 2px);
}
textarea.form-control-lg {
  min-height: calc(1.5em + 1rem + 2px);
}

.form-control-color {
  width: 3rem;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem;
}
.form-control-color:not(:disabled):not([readonly]) {
  cursor: pointer;
}
.form-control-color::-moz-color-swatch {
  border: 0 !important;
  border-radius: 0.375rem;
}
.form-control-color::-webkit-color-swatch {
  border-radius: 0.375rem;
}
.form-control-color.form-control-sm {
  height: calc(1.5em + 0.5rem + 2px);
}
.form-control-color.form-control-lg {
  height: calc(1.5em + 1rem + 2px);
}

.form-select {
  display: block;
  width: 100%;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
@media (prefers-reduced-motion: reduce) {
  .form-select {
    transition: none;
  }
}
.form-select:focus {
  border-color: #ffe480;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(255, 200, 0, 0.25);
}
.form-select[multiple], .form-select[size]:not([size="1"]) {
  padding-right: 0.75rem;
  background-image: none;
}
.form-select:disabled {
  background-color: #e9ecef;
}
.form-select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #212529;
}

.form-select-sm {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.25rem;
}

.form-select-lg {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  font-size: 1.25rem;
  border-radius: 0.5rem;
}

.form-check {
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5em;
  margin-bottom: 0.125rem;
}
.form-check .form-check-input {
  float: left;
  margin-left: -1.5em;
}

.form-check-reverse {
  padding-right: 1.5em;
  padding-left: 0;
  text-align: right;
}
.form-check-reverse .form-check-input {
  float: right;
  margin-right: -1.5em;
  margin-left: 0;
}

.form-check-input {
  width: 1em;
  height: 1em;
  margin-top: 0.25em;
  vertical-align: top;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid rgba(0, 0, 0, 0.25);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-print-color-adjust: exact;
          print-color-adjust: exact;
}
.form-check-input[type=checkbox] {
  border-radius: 0.25em;
}
.form-check-input[type=radio] {
  border-radius: 50%;
}
.form-check-input:active {
  filter: brightness(90%);
}
.form-check-input:focus {
  border-color: #ffe480;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(255, 200, 0, 0.25);
}
.form-check-input:checked {
  background-color: #ffc800;
  border-color: #ffc800;
}
.form-check-input:checked[type=checkbox] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}
.form-check-input:checked[type=radio] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
}
.form-check-input[type=checkbox]:indeterminate {
  background-color: #ffc800;
  border-color: #ffc800;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3e%3c/svg%3e");
}
.form-check-input:disabled {
  pointer-events: none;
  filter: none;
  opacity: 0.5;
}
.form-check-input[disabled] ~ .form-check-label, .form-check-input:disabled ~ .form-check-label {
  cursor: default;
  opacity: 0.5;
}

.form-switch {
  padding-left: 2.5em;
}
.form-switch .form-check-input {
  width: 2em;
  margin-left: -2.5em;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");
  background-position: left center;
  border-radius: 2em;
  transition: background-position 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .form-switch .form-check-input {
    transition: none;
  }
}
.form-switch .form-check-input:focus {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23ffe480'/%3e%3c/svg%3e");
}
.form-switch .form-check-input:checked {
  background-position: right center;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}
.form-switch.form-check-reverse {
  padding-right: 2.5em;
  padding-left: 0;
}
.form-switch.form-check-reverse .form-check-input {
  margin-right: -2.5em;
  margin-left: 0;
}

.form-check-inline {
  display: inline-block;
  margin-right: 1rem;
}

.btn-check {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}
.btn-check[disabled] + .btn, .btn-check:disabled + .btn {
  pointer-events: none;
  filter: none;
  opacity: 0.65;
}

.form-range {
  width: 100%;
  height: 1.5rem;
  padding: 0;
  background-color: transparent;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.form-range:focus {
  outline: 0;
}
.form-range:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.25rem rgba(255, 200, 0, 0.25);
}
.form-range:focus::-moz-range-thumb {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.25rem rgba(255, 200, 0, 0.25);
}
.form-range::-moz-focus-outer {
  border: 0;
}
.form-range::-webkit-slider-thumb {
  width: 1rem;
  height: 1rem;
  margin-top: -0.25rem;
  background-color: #ffc800;
  border: 0;
  border-radius: 1rem;
  -webkit-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
          appearance: none;
}
@media (prefers-reduced-motion: reduce) {
  .form-range::-webkit-slider-thumb {
    -webkit-transition: none;
    transition: none;
  }
}
.form-range::-webkit-slider-thumb:active {
  background-color: #ffefb3;
}
.form-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.5rem;
  color: transparent;
  cursor: pointer;
  background-color: #dee2e6;
  border-color: transparent;
  border-radius: 1rem;
}
.form-range::-moz-range-thumb {
  width: 1rem;
  height: 1rem;
  background-color: #ffc800;
  border: 0;
  border-radius: 1rem;
  -moz-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -moz-appearance: none;
       appearance: none;
}
@media (prefers-reduced-motion: reduce) {
  .form-range::-moz-range-thumb {
    -moz-transition: none;
    transition: none;
  }
}
.form-range::-moz-range-thumb:active {
  background-color: #ffefb3;
}
.form-range::-moz-range-track {
  width: 100%;
  height: 0.5rem;
  color: transparent;
  cursor: pointer;
  background-color: #dee2e6;
  border-color: transparent;
  border-radius: 1rem;
}
.form-range:disabled {
  pointer-events: none;
}
.form-range:disabled::-webkit-slider-thumb {
  background-color: #adb5bd;
}
.form-range:disabled::-moz-range-thumb {
  background-color: #adb5bd;
}

.form-floating {
  position: relative;
}
.form-floating > .form-control,
.form-floating > .form-control-plaintext,
.form-floating > .form-select {
  height: calc(3.5rem + 2px);
  line-height: 1.25;
}
.form-floating > label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem 0.75rem;
  overflow: hidden;
  text-align: start;
  text-overflow: ellipsis;
  white-space: nowrap;
  pointer-events: none;
  border: 1px solid transparent;
  transform-origin: 0 0;
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .form-floating > label {
    transition: none;
  }
}
.form-floating > .form-control,
.form-floating > .form-control-plaintext {
  padding: 1rem 0.75rem;
}
.form-floating > .form-control::-moz-placeholder, .form-floating > .form-control-plaintext::-moz-placeholder {
  color: transparent;
}
.form-floating > .form-control::placeholder,
.form-floating > .form-control-plaintext::placeholder {
  color: transparent;
}
.form-floating > .form-control:not(:-moz-placeholder-shown), .form-floating > .form-control-plaintext:not(:-moz-placeholder-shown) {
  padding-top: 1.625rem;
  padding-bottom: 0.625rem;
}
.form-floating > .form-control:focus, .form-floating > .form-control:not(:placeholder-shown),
.form-floating > .form-control-plaintext:focus,
.form-floating > .form-control-plaintext:not(:placeholder-shown) {
  padding-top: 1.625rem;
  padding-bottom: 0.625rem;
}
.form-floating > .form-control:-webkit-autofill,
.form-floating > .form-control-plaintext:-webkit-autofill {
  padding-top: 1.625rem;
  padding-bottom: 0.625rem;
}
.form-floating > .form-select {
  padding-top: 1.625rem;
  padding-bottom: 0.625rem;
}
.form-floating > .form-control:not(:-moz-placeholder-shown) ~ label {
  opacity: 0.65;
  transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}
.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-control-plaintext ~ label,
.form-floating > .form-select ~ label {
  opacity: 0.65;
  transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}
.form-floating > .form-control:-webkit-autofill ~ label {
  opacity: 0.65;
  transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}
.form-floating > .form-control-plaintext ~ label {
  border-width: 1px 0;
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}
.input-group > .form-control,
.input-group > .form-select,
.input-group > .form-floating {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
}
.input-group > .form-control:focus,
.input-group > .form-select:focus,
.input-group > .form-floating:focus-within {
  z-index: 5;
}
.input-group .btn {
  position: relative;
  z-index: 2;
}
.input-group .btn:focus {
  z-index: 5;
}

.input-group-text {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
}

.input-group-lg > .form-control,
.input-group-lg > .form-select,
.input-group-lg > .input-group-text,
.input-group-lg > .btn {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 0.5rem;
}

.input-group-sm > .form-control,
.input-group-sm > .form-select,
.input-group-sm > .input-group-text,
.input-group-sm > .btn {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.25rem;
}

.input-group-lg > .form-select,
.input-group-sm > .form-select {
  padding-right: 3rem;
}

.input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating),
.input-group:not(.has-validation) > .dropdown-toggle:nth-last-child(n+3),
.input-group:not(.has-validation) > .form-floating:not(:last-child) > .form-control,
.input-group:not(.has-validation) > .form-floating:not(:last-child) > .form-select {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group.has-validation > :nth-last-child(n+3):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating),
.input-group.has-validation > .dropdown-toggle:nth-last-child(n+4),
.input-group.has-validation > .form-floating:nth-last-child(n+3) > .form-control,
.input-group.has-validation > .form-floating:nth-last-child(n+3) > .form-select {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  margin-left: -1px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.input-group > .form-floating:not(:first-child) > .form-control,
.input-group > .form-floating:not(:first-child) > .form-select {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.form-check-inline .form-check-input ~ .valid-feedback {
  margin-left: 0.5em;
}


.btn {
  --bs-btn-padding-x: 0.75rem;
  --bs-btn-padding-y: 0.375rem;
  --bs-btn-font-family: ;
  --bs-btn-font-size: 1rem;
  --bs-btn-font-weight: 400;
  --bs-btn-line-height: 1.5;
  --bs-btn-color: #212529;
  --bs-btn-bg: transparent;
  --bs-btn-border-width: 1px;
  --bs-btn-border-color: transparent;
  --bs-btn-border-radius: 0.375rem;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
  display: inline-block;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  font-family: var(--bs-btn-font-family);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  color: var(--bs-btn-color);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  border-radius: var(--bs-btn-border-radius);
  background-color: var(--bs-btn-bg);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}
.btn:hover {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
}
.btn-check + .btn:hover {
  color: var(--bs-btn-color);
  background-color: var(--bs-btn-bg);
  border-color: var(--bs-btn-border-color);
}
.btn:focus-visible {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
  outline: 0;
  box-shadow: var(--bs-btn-focus-box-shadow);
}
.btn-check:focus-visible + .btn {
  border-color: var(--bs-btn-hover-border-color);
  outline: 0;
  box-shadow: var(--bs-btn-focus-box-shadow);
}
.btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show {
  color: var(--bs-btn-active-color);
  background-color: var(--bs-btn-active-bg);
  border-color: var(--bs-btn-active-border-color);
}
.btn-check:checked + .btn:focus-visible, :not(.btn-check) + .btn:active:focus-visible, .btn:first-child:active:focus-visible, .btn.active:focus-visible, .btn.show:focus-visible {
  box-shadow: var(--bs-btn-focus-box-shadow);
}
.btn:disabled, .btn.disabled, fieldset:disabled .btn {
  color: var(--bs-btn-disabled-color);
  pointer-events: none;
  background-color: var(--bs-btn-disabled-bg);
  border-color: var(--bs-btn-disabled-border-color);
  opacity: var(--bs-btn-disabled-opacity);
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #ffc800;
  --bs-btn-border-color: #ffc800;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #d9aa00;
  --bs-btn-hover-border-color: #cca000;
  --bs-btn-focus-shadow-rgb: 255, 208, 38;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #cca000;
  --bs-btn-active-border-color: #bf9600;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #ffc800;
  --bs-btn-disabled-border-color: #ffc800;
}

.btn-secondary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #6c757d;
  --bs-btn-border-color: #6c757d;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #5c636a;
  --bs-btn-hover-border-color: #565e64;
  --bs-btn-focus-shadow-rgb: 130, 138, 145;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #565e64;
  --bs-btn-active-border-color: #51585e;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #6c757d;
  --bs-btn-disabled-border-color: #6c757d;
}

.btn-success {
  --bs-btn-color: #fff;
  --bs-btn-bg: #198754;
  --bs-btn-border-color: #198754;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #157347;
  --bs-btn-hover-border-color: #146c43;
  --bs-btn-focus-shadow-rgb: 60, 153, 110;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #146c43;
  --bs-btn-active-border-color: #13653f;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #198754;
  --bs-btn-disabled-border-color: #198754;
}

.btn-info {
  --bs-btn-color: #fff;
  --bs-btn-bg: #0dcaf0;
  --bs-btn-border-color: #0dcaf0;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0baccc;
  --bs-btn-hover-border-color: #0aa2c0;
  --bs-btn-focus-shadow-rgb: 49, 210, 242;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0aa2c0;
  --bs-btn-active-border-color: #0a98b4;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #0dcaf0;
  --bs-btn-disabled-border-color: #0dcaf0;
}

.btn-warning {
  --bs-btn-color: #fff;
  --bs-btn-bg: #ffc800;
  --bs-btn-border-color: #ffc800;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #d9aa00;
  --bs-btn-hover-border-color: #cca000;
  --bs-btn-focus-shadow-rgb: 255, 208, 38;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #cca000;
  --bs-btn-active-border-color: #bf9600;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #ffc800;
  --bs-btn-disabled-border-color: #ffc800;
}

.btn-danger {
  --bs-btn-color: #fff;
  --bs-btn-bg: #dc3545;
  --bs-btn-border-color: #dc3545;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #bb2d3b;
  --bs-btn-hover-border-color: #b02a37;
  --bs-btn-focus-shadow-rgb: 225, 83, 97;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #b02a37;
  --bs-btn-active-border-color: #a52834;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #dc3545;
  --bs-btn-disabled-border-color: #dc3545;
}

.btn-light {
  --bs-btn-color: #000;
  --bs-btn-bg: #f8f9fa;
  --bs-btn-border-color: #f8f9fa;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #d3d4d5;
  --bs-btn-hover-border-color: #c6c7c8;
  --bs-btn-focus-shadow-rgb: 211, 212, 213;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #c6c7c8;
  --bs-btn-active-border-color: #babbbc;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #f8f9fa;
  --bs-btn-disabled-border-color: #f8f9fa;
}

.btn-dark {
  --bs-btn-color: #fff;
  --bs-btn-bg: #212529;
  --bs-btn-border-color: #212529;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #424649;
  --bs-btn-hover-border-color: #373b3e;
  --bs-btn-focus-shadow-rgb: 66, 70, 73;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #4d5154;
  --bs-btn-active-border-color: #373b3e;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #212529;
  --bs-btn-disabled-border-color: #212529;
}

.btn-outline-primary {
  --bs-btn-color: #ffc800;
  --bs-btn-border-color: #ffc800;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #ffc800;
  --bs-btn-hover-border-color: #ffc800;
  --bs-btn-focus-shadow-rgb: 255, 200, 0;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #ffc800;
  --bs-btn-active-border-color: #ffc800;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #ffc800;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #ffc800;
  --bs-gradient: none;
}


.btn-outline-warning {
  --bs-btn-color: #ffc800;
  --bs-btn-border-color: #ffc800;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #ffc800;
  --bs-btn-hover-border-color: #ffc800;
  --bs-btn-focus-shadow-rgb: 255, 200, 0;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #ffc800;
  --bs-btn-active-border-color: #ffc800;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #ffc800;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #ffc800;
  --bs-gradient: none;
}

.btn-link {
  --bs-btn-font-weight: 400;
  --bs-btn-color: var(--bs-link-color);
  --bs-btn-bg: transparent;
  --bs-btn-border-color: transparent;
  --bs-btn-hover-color: var(--bs-link-hover-color);
  --bs-btn-hover-border-color: transparent;
  --bs-btn-active-color: var(--bs-link-hover-color);
  --bs-btn-active-border-color: transparent;
  --bs-btn-disabled-color: #6c757d;
  --bs-btn-disabled-border-color: transparent;
  --bs-btn-box-shadow: none;
  --bs-btn-focus-shadow-rgb: 255, 208, 38;
  text-decoration: underline;
}
.btn-link:focus-visible {
  color: var(--bs-btn-color);
}
.btn-link:hover {
  color: var(--bs-btn-hover-color);
}

.btn-lg, .btn-group-lg > .btn {
  --bs-btn-padding-y: 0.5rem;
  --bs-btn-padding-x: 1rem;
  --bs-btn-font-size: 1.25rem;
  --bs-btn-border-radius: 0.5rem;
}

.btn-sm, .btn-group-sm > .btn {
  --bs-btn-padding-y: 0.25rem;
  --bs-btn-padding-x: 0.5rem;
  --bs-btn-font-size: 0.875rem;
  --bs-btn-border-radius: 0.25rem;
}

.fade {
  transition: opacity 0.15s linear;
}
@media (prefers-reduced-motion: reduce) {
  .fade {
    transition: none;
  }
}
.fade:not(.show) {
  opacity: 0;
}

.collapse:not(.show) {
  display: none;
}

.collapsing {
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}
@media (prefers-reduced-motion: reduce) {
  .collapsing {
    transition: none;
  }
}
.collapsing.collapse-horizontal {
  width: 0;
  height: auto;
  transition: width 0.35s ease;
}
@media (prefers-reduced-motion: reduce) {
  .collapsing.collapse-horizontal {
    transition: none;
  }
}

.btn-group,
.btn-group-vertical {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
}
.btn-group > .btn,
.btn-group-vertical > .btn {
  position: relative;
  flex: 1 1 auto;
}
.btn-group > .btn-check:checked + .btn,
.btn-group > .btn-check:focus + .btn,
.btn-group > .btn:hover,
.btn-group > .btn:focus,
.btn-group > .btn:active,
.btn-group > .btn.active,
.btn-group-vertical > .btn-check:checked + .btn,
.btn-group-vertical > .btn-check:focus + .btn,
.btn-group-vertical > .btn:hover,
.btn-group-vertical > .btn:focus,
.btn-group-vertical > .btn:active,
.btn-group-vertical > .btn.active {
  z-index: 1;
}

.btn-toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.btn-toolbar .input-group {
  width: auto;
}

.btn-group {
  border-radius: 0.375rem;
}
.btn-group > :not(.btn-check:first-child) + .btn,
.btn-group > .btn-group:not(:first-child) {
  margin-left: -1px;
}
.btn-group > .btn:not(:last-child):not(.dropdown-toggle),
.btn-group > .btn.dropdown-toggle-split:first-child,
.btn-group > .btn-group:not(:last-child) > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.btn-group > .btn:nth-child(n+3),
.btn-group > :not(.btn-check) + .btn,
.btn-group > .btn-group:not(:first-child) > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn-sm + .dropdown-toggle-split, .btn-group-sm > .btn + .dropdown-toggle-split {
  padding-right: 0.375rem;
  padding-left: 0.375rem;
}

.btn-lg + .dropdown-toggle-split, .btn-group-lg > .btn + .dropdown-toggle-split {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

.btn-group-vertical {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.btn-group-vertical > .btn,
.btn-group-vertical > .btn-group {
  width: 100%;
}
.btn-group-vertical > .btn:not(:first-child),
.btn-group-vertical > .btn-group:not(:first-child) {
  margin-top: -1px;
}
.btn-group-vertical > .btn:not(:last-child):not(.dropdown-toggle),
.btn-group-vertical > .btn-group:not(:last-child) > .btn {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.btn-group-vertical > .btn ~ .btn,
.btn-group-vertical > .btn-group:not(:first-child) > .btn {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}




html {
  scroll-padding-top: 4.5rem;
}

body {
  position: relative;
}

p {
  line-height: 1.75;
}

.page-section {
  padding: 10rem 0;
}
.page-section h2.section-heading, .page-section .section-heading.h2 {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
}
.page-section h3.section-subheading, .page-section .section-subheading.h3 {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin-bottom: 4rem;
}


section#contact {
  background-color: #664932;
  background-image: url("../assets/img/map-image.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 60rem;
 
}
section#contact .section-heading {
  color: #fff;
}
section#contact form#contactForm .form-group {
  margin-bottom: 1.5rem;
}
section#contact form#contactForm .form-group input,
section#contact form#contactForm .form-group textarea {
  padding: 1.25rem;
}
section#contact form#contactForm .form-group input.form-control {
  height: auto;
}
section#contact form#contactForm .form-group-textarea {
  height: 100%;
}
section#contact form#contactForm .form-group-textarea textarea {
  height: 100%;
  min-height: 10rem;
}
section#contact form#contactForm p.help-block {
  margin: 0;
}
section#contact form#contactForm .form-control:focus {
  border-color: #ffc800;
  box-shadow: none;
}
section#contact form#contactForm ::-webkit-input-placeholder {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  color: #ced4da;
}
section#contact form#contactForm :-moz-placeholder {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  color: #ced4da;
}
section#contact form#contactForm ::-moz-placeholder {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  color: #ced4da;
}
section#contact form#contactForm :-ms-input-placeholder {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  color: #ced4da;
}


/* ------------------------------- cadastro.php -------------------------- */

.cadastro {

    margin-top: 10rem;
}

/* -------------------------------- footer -------------------------- */

#local {
    position: relative;
    padding: 30px 0;
    text-align: center;
    border-top: 1px solid rgba(256, 256, 256, .1);
    background-color:#2f3031;
    width: 100%;
}

.footer {
    width: 100%;
    background-color: #2f3031;
}

#contatos {
    color:white;
}


#contatos a i {
    padding: 0px 10px;
    font-size: 20px;
}

.footer .copyright {
    position: relative;
    padding: 30px 0;
    background: #e8ecef;
}

.footer .copyright .copy-menu {
    position: relative;
    font-size: 0;
    text-align: right;
}

.footer .copyright .copy-text p {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
}


.footer .copyright {
    position: relative;
    padding: 30px 0;
    background: #313232;
  }
  .footer .copyright .copy-text p {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
  }
  .footer .copyright .copy-text p a {
    color: #dddddd;
  }
  .footer .copyright .copy-text p a:hover {
    color: #0085ff;
  }
  .footer .copyright .copy-menu {
    position: relative;
    font-size: 0;
    text-align: right;
  }
  .footer .copyright .copy-menu a {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .3);
  }
  


/* ----------------------- tela de login -------------------- */


.container-fluid-5{
    
  padding: 0px 5px !important;
  overflow: hidden !important; /* retira o scroll */
   
}

#texts {
  display: inline-block;
}
.bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
    }
    
    @media (min-width: 1025px) {
    .h-custom-2 {
    height: 100%;
    }
    }
    
    #login {
        margin-top: 15rem;
        padding: 0 auto !important ;
        margin-left:10rem;
    }
    
    #cadastro {
        margin-top: 8rem;
        padding: 0 auto !important ;
        margin-left:10rem;
    }
    
    #body {
      /*
        background: rgb(173,181,196);
        background: linear-gradient(90deg, rgba(173,181,196,0.9051995798319328) 23%, rgba(101, 132, 166, 0.637) 86%); */
        background-color:#D2B48C;
    }
    
    #letra {
        color:white;
    }
    
    .linha {
        border-bottom: 1px solid rgba(255, 252, 252, 0.966);
        margin-top:20px;
        margin-left: 10rem;
        width: 370px;
    }
    
    #body p {
        margin-top:20px;
        margin-left: 14rem;
    }

  